<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ book.author }}. {{ book.name }}</title>
        <link rel="stylesheet" href="/css/book.css">
    </head>
    <body>
        <div class="container">
            <div class="block user">
                <h1 class="title">User Info</h1>
                <div class="user-info">
                    <div class="user-avatar"></div>
                    <div class="user-field">
                        <div class="field" id="id">User ID: {{ user_id }}</div>
                        <div class="field" id="login">Login: {{ login }}</div>
                        <div class="field" id="role">Role: {{ role }}</div>
                        <div class="field" id="registration_date">Registration date:<br>{{ registration_date }}</div>
                    </div>
                </div>
            </div>
            <div class="block main">
                <h1 class="title">Book</h1>
                <div class="book">
                    <div class="book-image">
                        <img class="image" src="data:image/png;base64,{{ book.image }}" alt="Image">
                    </div>
                    <div class="book-info">
                        <h1>{{ book.name }}</h1>
                        <h2>{{ book.author }}</h2>
                        <h3>{{ book.category }}</h3>
                        <div class="statistics">
                            <h2>Take count: {{ book_statistic.get('take', 0) }}</h2>
                            <h2>Return count: {{ book_statistic.get('return', 0) }}</h2>
                        </div>
                        <h4>{{
                                "You have already taken this book"
                                if book_status == 'take' else
                                "You haven't picked up this book yet"
                            }}
                        </h4>
                    </div>
                </div>
            </div>
            <div class="block menu">
                <h1 class="title">Menu</h1>
                <div class="menu-buttons">
                    <a href="/" class="menu-link" id="main-page-link">Main Page</a>
                    <a href="/logout" class="menu-link" id="logout-link">Logout</a>
                    <p class="book-buttons-label">Book Interaction</p>
                    {% if role in consts['roles_allowed_add_books'] %}
                    <a href="/add_book" class="menu-link" id="add-book-link">Add book</a>
                    {% endif %}
                    {% if book_status == 'return' %}
                    <a onclick="window.location.href='/api/take_book?id={{ book.book_id }}'" class="menu-link"
                       id="take-book">Take a book</a>
                    {% endif %}
                    {% if book_status == 'take' %}
                    <a onclick="window.location.href='/api/return_book?id={{ book.book_id }}'" class="menu-link"
                       id="return-book">Return book</a>
                    {% endif %}
                    {% if book_statistic %}
                    <a onclick="window.location.href='/api/statistics_book?id={{ book.book_id }}'" class="menu-link"
                       id="statistics-book">Statistics</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>