<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Main Page</title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <div class="container">
            <div class="block user">
                <h1 class="title">User Info</h1>
                <div class="user-info">
                    <div class="user-avatar"></div>
                    <div class="user-field">
                        <div class="field" id="id">User ID: {{ user_id }}</div>
                        <div class="field" id="login">Login: {{ login }}</div>
                        <div class="field" id="role">Role: {{ role }}</div>
                        <div class="field" id="registration_date">Registration date:<br>{{ registration_date }}</div>
                    </div>
                </div>
            </div>
            <div class="block main">
                <h1 class="title">Catalog</h1>
                <div class="scroll">
                    <div class="catalog">
                        <div class="book-catalog">
                            {% for book in data['catalog'] %}
                            <div class="book" id="book_{{ book.book_id }}" title="{{ book.author }}. {{ book.name }}">
                                <img class="book-image" src="data:image/png;base64,{{ book.image }}" alt="Image">
                                <h2 title="{{ book.author }}">{{ book.strip_author_name }}</h2>
                                <h3 title="{{ book.category }}">{{ book.strip_category_name }}</h3>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="block menu">
                <h1 class="title">Menu</h1>
                <div class="menu-buttons">
                    <a href="/logout" class="menu-link" id="logout-link">Logout</a>
                    {% if role in consts['roles_allowed_add_books'] %}
                    <a href="/add_book" class="menu-link" id="add-book-link">Add book</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>