<!DOCTYPE html>
<html lang="ua">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <div class="container">
            <div class="form">
                <h1 class="form-title">Login</h1>
                <form class="form-container" method="post" action="/api/login">
                    <div class="form-inputs">
                        <div class="form-input" id="login">
                            <label for="login">Login</label>
                            <label>
                                <input class="form-login" name="login" type="text" autocomplete="off"
                                       placeholder="Input your login" >
                            </label>
                        </div>
                        <div class="form-input" id="password">
                            <label for="password">Password</label>
                            <label>
                                <input class="form-password" name="password" autocomplete="off"
                                       placeholder="Input your password" type="password">
                            </label>
                        </div>
                    </div>
                    <div class="form-button">
                        <input class="form-submit" value="Log in" type="submit">
                    </div>
                    <div class="form-registration-button">
                        <a href="/registration">New account registration</a>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>